{% extends "base/index.html" %}

{% block title %} <title> Início </title> {% endblock %}

    {% block content %}

        <!-- Section: intro -->


        <div class="col-lg-6">
            <div class="form-wrapper">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                
                    <div class="panel panel-skin">
                        <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-sign-in"></span> Entrar</h3>
                        </div>
                            <div class="panel-body">
                                <form action="" method="post" role="form" class="lead">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label>Usuário</label>
                                                <input type="text" name="username" value="{{login}}" id="first_name" class="form-control input-md">
                                            </div>
                                        </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Senha</label>
                                                    <input type="password" name="password" id="senha" class="form-control input-md">
                                                </div>
                                            </div>
                                    </div>

                                                
                                        <input type="submit" value="Entrar" class="btn btn-skin btn-block btn-lg">
                                        
                                        <p class="lead-footer">*</p>
                                            
                                </form>
                            </div>
                    </div>              
                            
                </div>
            </div>
        </div>                 
  
    {% endblock content %}