{% extends "base/index.html" %}
{% load bootstrap3 %}

{% block title %} <title> Excluir Membro </title> {% endblock title %}

{% block content %}

<div class="panel panel-primary">
	<div class="panel-heading"><strong>Excluir Membros</strong></div>
	
	<div class="panel-body">

		<form action="/pessoa/excluirmembro/{{ object.pk }}/" method="post">
			{% csrf_token %}
			<p>
			Tem certeza que deseja excluir o membro "{{ object }}" ?
			</p>
			{% buttons %}
				<button type="submit" class="btn btn-danger">{% bootstrap_icon "remove" %} Sim
				</button>
				<!-- Botão para retornar à página!-->
				<a href="/pessoa/editarmembro/{{ object.pk }}/" class="btn btn-info">{% bootstrap_icon "arrow-left" %} Retornar</a>
			{% endbuttons %}

		</form>

	</div>

</div>
{% endblock content %}