{% extends "base/index.html" %}
{% load bootstrap3 %}

{% block title %} <title> Editar Participante </title> {% endblock title %}

{% block content %}

	<div class="panel panel-primary">
		<div class="panel-heading"><strong>Editar Participantes</strong></div>
		<div class="panel-body">

			<!--<div class="container">
				<h4>Editar Participantes</h4>
			</div>-->

			<form class="form col-sm-8" action="/pessoa/editar/{{ object.pk }}/" method="post">
				{% csrf_token %}
				{% bootstrap_form form %}
				

				{% buttons %}
					<!-- Botão para excluir-->
					<button type="submit" class="btn btn-primary">{% bootstrap_icon "save" %} Alterar
					</button>

					<!-- Botão para excluir-->
					<a href="/pessoa/excluir/{{ object.pk }}/" class="btn btn-danger">{% bootstrap_icon "remove" %} Excluir</a>
				{% endbuttons %}

			</form>
		</div>
	</div>

{% endblock content %}