{% extends "base/index.html" %}
{% load bootstrap3 %}

{% block title %} <title> Participantes </title> {% endblock %}

{% block content %}

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Lista de Participantes</strong></div>
    <div class="panel-body">

      <!--<div class="container">
        <h3>Lista de Participantes</h3>
      </div>-->

      <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Cpf</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                  <th>Departamento</th>
                </tr>
              </thead>
              <tbody>
                {% for participante in object_list %}
                <tr>
                  <td><a href="/pessoa/editar/{{ participante.pk }}/">{{ participante.nome}}</a></td>
                  <td>{{ participante.cpf}}</td>
                  <td>{{ participante.telefone}}</td>
                  <td>{{ participante.email}}</td>
                  <td>{{ participante.get_departamento_display}}</td>
                </tr>
                {% endfor %}
              </tbody>
      </table>  

        <!-- <ul>
          {% for participante in object_list %}
            <li>
               {{ participante.pk }} {{ participante }}
            </li>
          {% endfor %}
        </ul> -->
    </div>
  </div>
{% endblock content %}
