{% extends "index/index.html" %}
{% load bootstrap3 %}

{% block title %} <title> Adicionar Paciente </title> {% endblock %}


  {% block content %}

  <h1>Adicionar Paciente</h1>

  	<div class="container">
 	    <form class="form col-sm-4" action="/pacientes/novo/" method="post">
	      {% csrf_token %}
	      {% bootstrap_form form %}
	      {% buttons %}
            <button type="submit" class="btn btn-primary">{% bootstrap_icon "user" %} Salvar</button>
			{% endbuttons %}
	    </form>
	
	</div>


  {% endblock content %}