{% extends "index/index.html" %}

{% block title %} <title> Diagnósticos </title> {% endblock %}

  {% block content %}

  <h3>Diagnósticos</h3>
  <form action="{% url 'diagnostico' %}" method="post">
  {% csrf_token %}
    <ul>
      {% for pergunta in object_list %}
        <li>
          <font size="4">{{ pergunta }}</font> 
         <div>
            <label class="radio-inline"><input type="radio" name="optradio{{pergunta.id}}">Sim</label>
            <label class="radio-inline"><input type="radio" name="optradio{{pergunta.id}}">Não</label>
         </div>
        </li>
      {% endfor %}
    </ul>
      <input type="submit" value="Diagnosticar" name="mybtn"/>
    </form>

  {% endblock content %}