{% load staticfiles %}


{% block head %}{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %} <title>Atas</title>{% endblock %}
	
    <!-- css -->
    <link href="{% static '/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/bootstrap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
	<link href="{% static '/bootstrap/plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet" >
	<link href="{% static '/bootstrap/css/nivo-lightbox.css' %}" rel="stylesheet" />
	<link href="{% static '/bootstrap/css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet" />
	<link href="{% static '/bootstrap/css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static '/bootstrap/css/owl.theme.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static '/bootstrap/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static '/bootstrap/css/style.css' %}" rel="stylesheet">

	<!-- boxed bg -->
	<link id="bodybg" href="{% static '/bootstrap/bodybg/bg1.css' %}" rel="stylesheet" type="text/css" />
	<!-- template skin -->
	<link id="t-colors" href="{% static '/bootstrap/color/default.css' %}" rel="stylesheet">

	<!-- plugin date picker -->
	<link rel="stylesheet" href="{% static '/bootstrap/plugins/datepicker/datepicker3.css' %}">
  	<!-- Daterange picker -->
  	<link rel="stylesheet" href="{% static '/bootstrap/plugins/daterangepicker/daterangepicker.css' %}">



</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="top-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<p class="bold text-left">Em desenvolvimento </p>
					</div>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-right">000000</p>
					</div>
				</div>
			</div>
		</div>
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/login/">
                    <img src="{% static '/bootstrap/img/xxxx.png' %}" alt="" width="230" height="55" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				<li><a href="/login/">Home</a></li>
				<li><a href="/index/">Link1</a></li>
				<li><a href="/index/">Link2</a></li>
				<li><a href="/index/">Link3</a></li>
				<li><a href="/admin/">Link4</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Link5 <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="/index/">Opcao1/a></li>
					<li><a href="/index/">Opcao2</a></li>
					<li><a href="#">Opcao3</a></li>
				  </ul>
				</li>
			  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	

	<!--Inclusão de background -->
	

	<section id="intro" class="intro">
        <div class="intro-content">
            <div class="container">
                <div class="row">
                	<div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
						
						<img src="{% static 'bootstrap/img/photo/5.jpg' %}" class="img-responsive" alt="" />

	{% block content %}

    {% endblock %}

    				</div>
    			</div>      
            </div>
        </div>      
    </section>
	


</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

	<!-- Core JavaScript Files -->]
	<script src="{% static '/bootstrap/js/jquery.js' %}"></script>
    <script src="{% static '/bootstrap/js/jquery.min.js' %}"></script>	 
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/jquery.easing.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/wow.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static '/bootstrap/js/jquery.appear.js' %}"></script>
	<script src="{% static '/bootstrap/js/stellar.js' %}"></script>
	<script src="{% static '/bootstrap/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/owl.carousel.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/custom.js' %}"/></script>
    <script src="{% static '/bootstrap/plugins/daterangepicker/daterangepicker.js' %}"></script>
	<!-- datepicker -->
	<script src="{% static '/bootstrap/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
	<!-- funcao js -->
	<script>
        jQuery(function($){
          $(".datas").mask("99/99/9999");
        });
    </script>

    
</body>

</html>
