{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="{% static '/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    </head>
    
    <body>

            <div class="container droppedHover">
                <form class="form-signin" role="form">
                     <h2 class="form-signin-heading" contenteditable="false">Por favor, forneça:</h2>

                    <input class="form-control" placeholder="Email address" required="" autofocus="" type="text" contenteditable="false">
                    <input class="form-control" placeholder="Password" required="" type="password" contenteditable="false">
                    <label class="checkbox">
                        <input value="remember-me" class="" type="checkbox">Remember me</label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                <div class="navbar navbar-static">
                    <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
                    </div>
                    <ul class="nav">
                        <li class="active"><a href="#" class="">Home</a>
                        </li>
                        <li><a href="#" class="">Link</a>
                        </li>
                        <li><a href="#" class="">Link</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" class="">More</a>
                        </li>
                        <li><a href="#" class="">Options</a>
                        </li>
                    </ul>
                </div>
            </div>
        </body>
</html>