{% extends "index/index.html" %}

{% load bootstrap3 %}

{% block title %} <title> Adicionar Médico </title> {% endblock %}


  {% block content %}

  <h1>Adicionar médico</h1>

 	    <form class="form col-sm-4" action="/medicos/novo/" method="post">
	      {% csrf_token %}
	      {% bootstrap_form form %}
	      {% buttons %}
            <button type="submit" class="btn btn-primary">{% bootstrap_icon "plus-sign" %} Salvar</button>
			{% endbuttons %}
	      		<!-- <input type="submit" value="Salvar" /> -->
	    </form>



  {% endblock content %}
