<html>
    <head>
        <meta charset="UTF-8">
        <title>Lista de veículos cadastrados</title>
    </head>
    <body>
        <ul>
            {% for veiculo in object_list %}
               <li>
                   <a href="/veiculos/{{veiculo.pk}}">
               
                   {{ veiculo }}
                   </a>
		   <a href="/veiculos/excluir/{{veiculo.pk}}">
			<input type="button" value="Confirmar" />
		   </a>
               </li>
            {% endfor %}
        </ul>
    </body>
</html>
