{% load staticfiles %}


{% block head %}{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %} <title>Anamnese</title>{% endblock %}
	
    <!-- css -->
    <link href="{% static '/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/bootstrap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
	<link href="{% static '/bootstrap/plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet" >
	<link href="{% static '/bootstrap/css/nivo-lightbox.css' %}" rel="stylesheet" />
	<link href="{% static '/bootstrap/css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet" />
	<link href="{% static '/bootstrap/css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static '/bootstrap/css/owl.theme.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static '/bootstrap/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static '/bootstrap/css/style.css' %}" rel="stylesheet">

	<!-- boxed bg -->
	<link id="bodybg" href="{% static '/bootstrap/bodybg/bg1.css' %}" rel="stylesheet" type="text/css" />
	<!-- template skin -->
	<link id="t-colors" href="{% static '/bootstrap/color/default.css' %}" rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="top-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<p class="bold text-left">Segunda à Sábado, das 8h às 18h </p>
					</div>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-right">Contate-nos +55 63 3225 0000</p>
					</div>
				</div>
			</div>
		</div>
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/index/">
                    <img src="{% static '/bootstrap/img/Anamnese.png' %}" alt="" width="230" height="55" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="/index/">Início</a></li>
				<li><a href="#service">Diagnósticos</a></li>
				<li><a href="/medicos/listar/">Médicos</a></li>
				<li><a href="#facilities">Pacientes</a></li>
				<li><a href="/admin/">Sintomas</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administração <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="/medicos/novo">Adicionar médico</a></li>
					<li><a href="#">Adicionar Paciente</a></li>
					<li><a href="#">Remover qualquer coisa</a></li>
				  </ul>
				</li>
			  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	

	<!--Inclusão de background -->
	
	<section class="featured">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							
							<h2 class="slogan">Bem Vindo a Anamnese</h2>
							<p>
							Centro de Diagnóstico de doenças tropicais. 
				
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
	
	{% block content %}

    {% endblock %}
	

	<footer>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Sobre Anamnese</h5>
						<p>
						Diagnostico de doenças tropicais.
						</p>
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Informação</h5>
						<ul>
							<li><a href="#">Início</a></li>
							<li><a href="#">Médicos</a></li>
							<li><a href="#">Tratamento médico</a></li>
							<li><a href="#">Termos e Condições</a></li>
						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Anamnese</h5>
						<p>
						Atendimento, consulta. dúvidas, análises, avaliações médicas em geral.
						</p>
						<ul>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
								</span> Segunda - Sábado, 08h às 22h
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
								</span> +62 0888 904 711
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span> Anamnese@uft.edu.br
							</li>

						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Nossa Localização</h5>
						<p>UFT - Universidade Federal do Tocantins</p>		
						
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Siga-nos</h5>
						<ul class="company-social">
								<li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInLeft" data-wow-delay="0.1s">
					<div class="text-left">
					<p>&copy;Copyright 2016 - Anamnese. Todos os direitos reservados.</p>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInRight" data-wow-delay="0.1s">
					<div class="text-right">
						<p><a href="http://ww2.uft.edu.br/">UFT - Universidade Federal do Tocantins</a> Programação Comercial</p>
					</div>
                    
					</div>
				</div>
			</div>	
		</div>
		</div>
	</footer>

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

	<!-- Core JavaScript Files -->]
	<script src="{% static '/bootstrap/js/jquery.js' %}"></script>
    <script src="{% static '/bootstrap/js/jquery.min.js' %}"></script>	 
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/jquery.easing.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/wow.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static '/bootstrap/js/jquery.appear.js' %}"></script>
	<script src="{% static '/bootstrap/js/stellar.js' %}"></script>
	<script src="{% static '/bootstrap/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/owl.carousel.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/custom.js' %}"/></script>


</body>

</html>
